$servicios-delivery-opcion1: (
    padding-servicio-delivery: -3rem 2.3rem 0rem 2.3rem,
    color-servicio-delivery: #5cb8ff,
    font-weight: bold,
);
$servicios-delivery-opcion2: (
    padding-servicio-delivery: 2rem 2.3rem 0rem 2.3rem,
    color-servicio-delivery: pink,
    font-weight: none,
);
$servicios-delivery-opcion3: (
    padding-servicio-delivery: 1.5rem 2.3rem 1.87rem 2.3rem,
    color-servicio-delivery: yellow,
    font-weight: italic,
);
