@mixin formato-titular-sections{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: $color-secundario;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@mixin botones{
    text-decoration: none;
    font-size: 1.5rem;
    background: #5cb8ff;
    padding: 0.31rem 0.4rem 0.31rem 0.4rem; 
    color: $color-principal;
    border-radius: 1.87rem;
    font-weight: bold;
}
@mixin margin-media-queries{
    margin-left: auto;
    margin-right: auto;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
